%h4{style: "text-align: center; color: purple;"}= "Shared Bill of #{current_user.name}"
.container
  .row.offset9{style: "text-align: right;"}
    %h4
      =link_to "New Shared Bill", new_transaction_path
  .row
    .span12
      %table.table.table-bordered.table-striped
        %tr
          -SharedTransaction::COLUMNS.each do |col|
            %th{style: "color: orange; text-align: center;"}= col.titleize
        -@jsonTransactions.each do |ts|
          %tr.danger
            -SharedTransaction::COLUMNS.each do |col|
              %td{style: "color: grey; text-align: center;"}= ts[col.to_sym]