.container
  .row.offset9{style: "text-align: right;"}
    %h4
      =link_to "New Transaction", new_transaction_path
  %h4{style: "text-align: center; color: purple;"}= "Transactions of #{current_user.name}"
  .row
    .span12
      %table.table.table-bordered.table-striped
        %tr
          -Transaction::COLUMNS.each do |col|
            %th{style: "color: orange; text-align: center;"}= col.titleize
        -@jsonTransactions.each do |ts|
          %tr
            -Transaction::COLUMNS.each do |col|
              %td{style: "color: grey; text-align: center;"}= ts[col.to_sym]